body{
	margin: 0;
	padding: 0;
	font-size: 12px;
	/* background:url(bg.gif)repeat-x;*/

	color:#333; 
}
ul{
	padding:0;
	margin: 0;
}

#header{
	position: relative;
    /* width: 900px;  */
	border: 1px solid red;
	height: 27px;
	margin: 0 auto;
}
#header .logo{
	width: 80px;
	height:27px;
	float: left;
}
#header .member{
	width: 50px;
	height: 27px;
	line-height: 27px;
	float: right;
	margin-right: 18px;
	cursor: pointer;
}
.member ul {
	position: absolute;
	top: 27px;
	left: 80%
	background: #FBF7E1;
	width: 50px;
	height: 80px;
	line-height: 20px;
	border: 1px solid red;
	border-top:none;
	text-align: center;
	display: none;
	list-style: none;

}

.member ul li a{

	display: block;
	text-decoration: none;  /* 去掉下划线 */
	color: #333;
	
}
.member ul li a:hover{

	background: #FC0;
}

#header .login{
	width: 35px;
	height: 27px;
	float: right;
	line-height: 27px;
	cursor: pointer;
}
#header .login:hover{
	background: green;
	cursor: pointer;
}
#login{
width: 350px;
height: 200px;
background: white;
position: absolute;
z-index: 9999;
/* margin: 0 auto; */
/* margin-top: 40px; */
border: 1px solid #CCC;
font-size: 14px;
display: none;

}
#login div{
	text-align: center;
	margin-top: 4px;
}

#login h2{
	text-align: center;;
}

#login .close{
	float: right;
	margin-top: -50px;
	margin-right: 10px;
	font-size: 10px;
	background: red;
	cursor: pointer;
}

#login .button input{
	background-color: green;
	cursor:pointer;
}
#login .new{
	text-align: right;
	padding:15px 10px;
	font-size: 12px;
	color: #666;
}

#screen{
	/* width: 400px;
	height: 400px; */
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	z-index: 9998;
	filter:alpha(opacity=30);
	opacity:0.3;
	display: none;
}
.a{
	color: red;
}